#container {
    margin: auto;
    width: 1080px;
}

#main-pic {
    padding: 15px;
    margin: 0px 600px 10px 10px;
}

#detail-infro {
    padding: 25px;
    margin: 40px 10px 10px 10px;
    width: 660px;
    float: right;
}

#TrailerWindow {
    width: 600px;
    height: 350px;
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    z-index: 101;
    display: none;
}

#TrailerWindow #title {
    height: 50px;
    background: #000000;
    color: #fff;
    font-size: 30px;
    text-indent: 35px;
    line-height: 50px;
    cursor: move;
}

#TrailerWindow #title button {
    width: 20px;
    height: 20px;
    color: white;
    float: right;
    margin: 10px 20px 0px 0px;
    display: inline-block;
}

#TrailerWindow #videoControl {
    width: 600px;
    height: 500px;
    background: #000000;
}

.Layer {
    background: #000;
    position: absolute;
    top: 0px;
    opacity: 0.5;
    -moz-opacity: 0.6;
    opacity: 0.6;
    z-index: 100;
    display: none;
}

.button_trailer {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.add_button {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    padding: 10px 10px;
    border-radius: 12px;
}

.add_button:hover {
    background-color: #f44336;
    color: white;
}

.search_button {
    background-color: white;
    color: #008CBA;
    border: 2px solid #008CBA;
    padding: 10px 20px;
    border-radius: 12px;
}

.search_button:hover {
    background-color: #008CBA;
    color: white;
}

.suggest {
    color: #31708f;
    border-color: #bce8f1;
    border: 1px;
    padding: 4px;
    cursor: pointer;
}

.suggest:hover {
    background-color: #d9edf7;
}

.no_suggest {
    text-align: center;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

span.stars, span.stars span {
    display: block;
    background: url("../images/stars.png") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
