{% extends "base.html" %}

{% block mainbody %}
    <div class="Layer" id="layer"></div>
    <div id="container">
        {% if object %}

            <div id="detail-infro">
                <h1>{{ object.title }}</h1>

                 <div class="rating">
                            <input type="radio" name="rating" value="5" id="5">
                            <label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4">
                            <label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3">
                            <label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2">
                            <label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1">
                            <label for="1">☆</label>
                     <script>
                         var rated = {{ object.rate }} ;
                         movieid = '{{object.movieid}}'
                         console.log(movieid);
                         username = '{{ user.username }}';
                         console.log(username);
                         user_rate_movie = {{ rate_score }};
                         if(user_rate_movie==0){
                             var stars = Math.floor(rated/2);
                             input_value = '#' + stars.toString();
                             console.log(input_value);
                             $(input_value).attr('checked', 'checked');
                         }
                         else{
                             input_value = '#' + user_rate_movie.toString();
                             console.log(input_value);
                             $(input_value).attr('checked', 'checked');
                         }

                         $("input[name='rating']").click(function() {
                             var radioValue = $("input[name='rating']:checked").val();
                             console.log(radioValue);
                             if (radioValue) {
                                 console.log('send mess !');
                                 $.ajax({
                                   url : "{% url 'rate-movie' %}",
                                   type: 'POST',
                                   datatype: 'json',
                                   processData: "application/json",
                                   data: {
                                   movieid: movieid,
                                   type: 'rate',
                                   username : username,
                                   rate_score : radioValue,
                                    },
                                     beforeSend:function (xhr,settings) {
                                    console.log("{{ csrf_token }}");
                                    xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
                                    },
                                    }).done(function (data) {
                                     if (data.type == 'error') {
                                         alert('erorr !');
                                         Swal.fire('Any fool can use a computer')
                                         Swal.fire({
                                             icon: 'error',
                                             title: 'Oops...',
                                             text: 'Something went wrong!',
                                             footer: '<a href>Why do I have this issue?</a>'
                                         })
                                     } else {
                                         Swal.fire(
                                             'Good job!',
                                             'You rated this movie!',
                                             'success'
                                         );
                                         console.log(data);
                                     }
                                 });
                             }
                         });

                     </script>

                </div>

                {% if  user.is_authenticated %}
                    <button class="add_button" id="seen">Have seen</button>
                    <button class="add_button" id="expect">Want to see</button>
                    <b style="color: #f44336" id="message"></b>
                    {% if  object.flag == 1 %}
                        <script>
                            $("#seen").css({"background-color": "#f44336", "color": "white"});
                        </script>
                    {% endif %}
                    {% if  object.flag == 2 %}
                        <script>
                            $("#expect").css({"background-color": "#f44336", "color": "white"});
                        </script>
                    {% endif %}
                {% endif %}
                <script>
                    $(document).ready(function () {
                        $("#seen").click(function () {
                            $.get("/movie/add_seen/{{ object.movieid }}", function (msg) {
                                if (msg == "1") {
                                    $("#seen").css({"background-color": "#f44336", "color": "white"});
                                    $("#expect").css({"background-color": "white", "color": "black"});
                                    $("#message").html("Added to Seen list!").fadeIn("fast").fadeOut("slow");
                                }
                                if (msg == "0") {
                                    $("#seen").css({"background-color": "white", "color": "black"});
                                    $("#message").html("Deleted from Seen list!").fadeIn("fast").fadeOut("slow");
                                }
                            });
                        });
                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $("#expect").click(function () {
                            $.get("/movie/add_expect/{{ object.movieid }}", function (msg) {
                                if (msg == "2") {
                                    $("#expect").css({"background-color": "#f44336", "color": "white"});
                                    $("#seen").css({"background-color": "white", "color": "black"});
                                    $("#message").html("Added to Wish list!").fadeIn("fast").fadeOut("slow");
                                }
                                if (msg == "0") {
                                    $("#expect").css({"background-color": "white", "color": "black"});
                                    $("#message").html("Deleted from Wish list!").fadeIn("fast").fadeOut("slow");
                                }
                            });
                        });
                    });
                </script>
                <script>
                    $(function () {
                        $('span.stars').stars();
                    });
                    $.fn.stars = function () {
                        return $(this).each(function () {
                            $(this).html($('<span />').width(Math.max(0, (Math.min(10, parseFloat($(this).html())))) * 8));
                        });
                    }

                </script>
                <!-- Layer -->
                {#                <div class="Layer" id="layer"></div>#}
                <div class="movie-detail box">

                    <p><b>Year:</b> {{ object.year }}</p>
                    <p><b>Genres:</b> {{ object.genres }}</p>
                    <p><b>Movie Length:</b> {{ object.length }} min</p>
                    <p><b>IMDB:</b> {{ object.rate }}</p>
                    <p><a href="http://www.imdb.com/title/{{ object.movieid }}" target="_blank">See in IMDB <span
                            class="glyphicon glyphicon-new-window"></span></a></p>
                    <span class="click_Show"> <button class="button_trailer">
                    <span class="glyphicon glyphicon-play-circle"></span> Trailer</button>
                    </span>

                    <div id="TrailerWindow" style="position: fixed;">
                        <div id="title">{{ object.title }}
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div id="videoControl">
                            <video width="600" height="500" controls>
                                <source src="{{ object.trailer }}" type="video/mp4">
                            </video>
                        </div>
                    </div>

                    <p id="summary"><b>Plot Summary: </b>"{{ object.plot }}"</p>

                    <p><b>Main actors : </b></p>

                    {% for item in items %}
                        <a href="/movie/actor_detail/{{ item.actorid }}" target="_self">{{ item.name }}</a>
                    {% endfor %}

                </div>
            </div>

            <div id="main-pic">
                <img border="0" src="{{ object.poster }}" alt="Cannot load photo, sorry!" width="300" height="500">
            </div>

        {% endif %}




        {% if pages %}
            <p>You are in the {{ current_page }} page, {{ page_number }} pages in total</p>
            {% if current_page != 1 %}
                <a href="/movie/actor_all/{{ 1 }}" target="_self">First</a>
                <a href="/movie/actor_all/{{ current_page|add:-1 }}" target="_self">Previous</a>
            {% endif %}

            {% for page in pages %}
                {% if page == current_page %}
                    <b>{{ page }}</b>
                {% else %}
                    <a href="/movie/actor_all/{{ page }}" target="_self">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if current_page != page_number %}
                <a href="/movie/actor_all/{{ current_page|add:1 }}" target="_self">Next</a>
                <a href="/movie/actor_all/{{ page_number }}" target="_self">Last</a>
            {% endif %}
        {% endif %}


        <script type="text/javascript">
            function layersize() {
                document.getElementById("layer").style.width = document.documentElement.scrollWidth + "px";
                document.getElementById("layer").style.height = document.documentElement.scrollHeight + "px";
            }

            $(".click_Show").click(function () {
                layersize();
                $(".Layer").show();//show layer
                $("#TrailerWindow").show();//show videoWindow
                tm();
            });

            $(window).resize(function () {
                layersize();
                tm();
            });

            function tm() {
                var _left = (document.documentElement.clientWidth - $("#TrailerWindow").width()) / 2;//Get distance of left
                var _top = (document.documentElement.clientHeight) * 0.15;//Get distance of top
                $("#TrailerWindow").css({left: _left, top: _top});
            }

            $("button.close").click(function () {
                $('video').trigger('pause');
                $("#TrailerWindow").hide();//hide
                $(".Layer").hide();//hide
            });
        </script>

        <!--Drag-->
        <script type="text/javascript">
            window.onload = function () {
                init(document.getElementById("title"));
            };

            var l = 0, t = 0, x = 0, y = 0;
            var isOver = false;
            var zindex = 99999;

            function init(titleDom) {
                var thisDom = titleDom;
                var parentDom = thisDom.parentNode;
                titleDom.onmousedown = function (event) {
                    var e = event || window.event;
                    x = e.clientX;
                    y = e.clientY;
                    l = parseInt(parentDom.offsetLeft);
                    t = parseInt(parentDom.offsetTop);
                    isOver = true;
                    zindex++;
                    parentDom.style.zIndex = zindex;
                    document.onmousemove = function (event) {
                        if (isOver) {
                            var e = event || window.event;
                            var newLeft = l + e.clientX - x;
                            var newTop = t + e.clientY - y;
                            parentDom.style.left = newLeft + "px";
                            parentDom.style.top = newTop + "px";

                        }
                    };
                    document.onmouseup = function (event) {
                        if (isOver) {
                            isOver = false;
                        }
                    };
                };
            }
        </script>

    </div>
{% endblock %}

