{% extends "base.html" %}

{% block mainbody %}
    <div id="container">
        {% if object %}

            <div id="detail-infro">
                <h1>{{ object.title }}</h1>

                 <div class="rating">
                            <input type="radio" name="rating" value="5" id="5">
                            <label for="5">☆</label>
                            <input type="radio" name="rating" value="4" id="4">
                            <label for="4">☆</label>
                            <input type="radio" name="rating" value="3" id="3">
                            <label for="3">☆</label>
                            <input type="radio" name="rating" value="2" id="2">
                            <label for="2">☆</label>
                            <input type="radio" name="rating" value="1" id="1">
                            <label for="1">☆</label>
                     <script>
                         var rated = {{ object.rate }} ;
                         var movieid = '{{object.movieid}}';
                         console.log(movieid);
                         var username = '{{ user.username }}';
                         console.log(username);
                         user_rate_movie = {{ rate_score }};
                         if(user_rate_movie==0){
                             var stars = Math.floor(rated/2);
                             input_value = '#' + stars.toString();
                             console.log(input_value);
                             $(input_value).attr('checked', 'checked');
                         }
                         else{
                             input_value = '#' + user_rate_movie.toString();
                             console.log(input_value);
                             $(input_value).attr('checked', 'checked');
                         }

                         $("input[name='rating']").click(function() {
                             var radioValue = $("input[name='rating']:checked").val();
                             console.log(radioValue);
                             if (radioValue) {
                                 console.log('send mess !');
                                 $.ajax({
                                   url : "{% url 'rate-movie' %}",
                                   type: 'POST',
                                   datatype: 'json',
                                   processData: "application/json",
                                   data: {
                                   movieid: movieid,
                                   type: 'rate',
                                   username : username,
                                   rate_score : radioValue,
                                    },
                                     //beforeSend:function (xhr,settings) {
                                    //console.log("{{ csrf_token }}");
                                    //xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
                                    //},
                                    }).done(function (data) {
                                     if (data.type == 'error') {
                                         alert('erorr !');
                                         Swal.fire('Any fool can use a computer')
                                         Swal.fire({
                                             icon: 'error',
                                             title: 'Oops...',
                                             text: 'Something went wrong!',
                                             footer: '<a href>Why do I have this issue?</a>'
                                         })
                                     } else {
                                         Swal.fire(
                                             'Good job!',
                                             'You rated this movie!',
                                             'success'
                                         );
                                         console.log(data);
                                     }
                                 });
                             }
                         });

                     </script>

                </div>

                {% if  user.is_authenticated %}
                    <button class="add_button" id="seen">Have seen</button>
                    <button class="add_button" id="expect">Want to see</button>
                    <b style="color: #f44336" id="message"></b>
                    {% if  object.flag == 1 %}
                        <script>
                            $("#seen").css({"background-color": "#f44336", "color": "white"});
                        </script>
                    {% endif %}
                    {% if  object.flag == 2 %}
                        <script>
                            $("#expect").css({"background-color": "#f44336", "color": "white"});
                        </script>
                    {% endif %}
                {% endif %}

                <script>
                    $(document).ready(function () {
                        $("#seen").click(function () {
                            $.get("/movie/add_seen/{{ object.movieid }}", function (msg) {
                                if (msg == "1") {
                                    $("#seen").css({"background-color": "#f44336", "color": "white"});
                                    $("#expect").css({"background-color": "white", "color": "black"});
                                    $("#message").html("Added to Seen list!").fadeIn("fast").fadeOut("slow");
                                }
                                if (msg == "0") {
                                    $("#seen").css({"background-color": "white", "color": "black"});
                                    $("#message").html("Deleted from Seen list!").fadeIn("fast").fadeOut("slow");
                                }
                            });
                        });


                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $("#expect").click(function () {
                            $.get("/movie/add_expect/{{ object.movieid }}", function (msg) {
                                if (msg == "2") {
                                    $("#expect").css({"background-color": "#f44336", "color": "white"});
                                    $("#seen").css({"background-color": "white", "color": "black"});
                                    $("#message").html("Added to Wish list!").fadeIn("fast").fadeOut("slow");
                                }
                                if (msg == "0") {
                                    $("#expect").css({"background-color": "white", "color": "black"});
                                    $("#message").html("Deleted from Wish list!").fadeIn("fast").fadeOut("slow");
                                }
                            });
                        });
                    });
                </script>

                <div class="movie-detail box">

                    <p><b>Year:</b> {{ object.year }}</p>
                    <p><b>Genres:</b> {{ object.genres }}</p>
                    <p><b>Movie Length:</b> {{ object.length }} min</p>
                    <p><b>IMDB:</b> {{ object.rate }}</p>
                    <p><a href="http://www.imdb.com/title/{{ object.movieid }}" target="_blank">See in IMDB <span
                            class="glyphicon glyphicon-new-window"></span></a></p>
                    <span class="click_Show"> <button class="button_trailer">
                    <span class="glyphicon glyphicon-play-circle"></span> Trailer</button>
                    </span>

                    <div id="TrailerWindow" style="position: fixed;">
                        <div id="title">{{ object.title }}
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div id="videoControl">
                            <video width="600" height="500" controls>
                                <source src="{{ object.trailer }}" type="video/mp4">
                            </video>
                        </div>
                    </div>

                    <p id="summary"><b>Plot Summary: </b>"{{ object.plot }}"</p>

                    <p><b>Main actors : </b></p>

                    {% for item in items %}
                        <a href="/movie/actor_detail/{{ item.actorid }}" target="_self">{{ item.name }}</a>
                    {% endfor %}
                    <br>
                    <br>

                    <p><b>Your Tags : </b></p>
                    <div class="input-group mb-3" id="addTagClass">
                      <input type="text" class="w-25 p-3" id="nameTag"  placeholder="Add your tags..." style="width: 20px" aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="addTag()" type="button">+</button>
                      </div>
                    </div>





                    <script>
                        function addTag(){

                            alert('oke');
                            var movieid = '{{object.movieid}}';
                            var username = '{{ user.username }}';
                            {#console.log(username);#}
                            {#console.log(movieid);#}
                            var nameTag = $('#nameTag').val();
                            {#console.log(nameTag);#}

                            //send ajax
                            $.ajax({
                                   url : "{% url 'add-tag' %}",
                                   type: 'POST',
                                   datatype: 'json',
                                   processData: "application/json",
                                   data: {
                                   movieid: movieid,
                                   type: 'add-tag',
                                   username : username,
                                   tag : nameTag
                                    }
                                    }).done(function (data) {
                                if (data.mess == 'error') {
                                    Swal.fire('You have tagged this movie already')
                                } else {
                                    Swal.fire(
                                      'Good job!',
                                      'You clicked the button!',
                                      'success'
                                    )
                                    $('#nameTag').val('');
                                    console.log(data);

                                    $('#addTagClass').append(
                                                            '<div class="input-group ">' +
                                                            '<div class="input-group-prepend">'+
                                                            '<button class="btn btn-outline-secondary" >' + 'x'+ data.count +
                                                            '</button>' +
                                                            '</div>' +
                                                            '<button class="w-10 p-2"  aria-describedby="basic-addon2">' +data.tags + '</button>' +
                                                            '<div class="input-group-append">' +
                                                            '<button class="btn btn-outline-secondary" type="button">' + '+' + '</button>'+
                                                            '</div>'+
                                                            '</div>');

                                }
                            })
                        }
                    </script>

                    <p><b>Tags Comunity : </b></p>
                    {% if dict_tags %}
                        <div class="input-group ">
                                {% for tag,count in dict_tags.items %}
                                    {% if count > 10 %}
                                        <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" >{{ count }}</button>
                                        </div>
                                        <button class="w-5 p-1"  aria-describedby="basic-addon2">{{ tag }} </button>

                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button">+</button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>

            <div id="main-pic">
                <img border="0" src="{{ object.poster }}" alt="Cannot load photo, sorry!" width="300" height="500">
            </div>

        {% endif %}

        {% if pages %}
            <p>You are in the {{ current_page }} page, {{ page_number }} pages in total</p>
            {% if current_page != 1 %}
                <a href="/movie/actor_all/{{ 1 }}" target="_self">First</a>
                <a href="/movie/actor_all/{{ current_page|add:-1 }}" target="_self">Previous</a>
            {% endif %}

            {% for page in pages %}
                {% if page == current_page %}
                    <b>{{ page }}</b>
                {% else %}
                    <a href="/movie/actor_all/{{ page }}" target="_self">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if current_page != page_number %}
                <a href="/movie/actor_all/{{ current_page|add:1 }}" target="_self">Next</a>
                <a href="/movie/actor_all/{{ page_number }}" target="_self">Last</a>
            {% endif %}
        {% endif %}

        <script type="text/javascript">
            function layersize() {
                document.getElementById("layer").style.width = document.documentElement.scrollWidth + "px";
                document.getElementById("layer").style.height = document.documentElement.scrollHeight + "px";
            }

            $(".click_Show").click(function () {
                layersize();
                $(".Layer").show();//show layer
                $("#TrailerWindow").show();//show videoWindow
                tm();
            });

            $(window).resize(function () {
                layersize();
                tm();
            });

            function tm() {
                var _left = (document.documentElement.clientWidth - $("#TrailerWindow").width()) / 2;//Get distance of left
                var _top = (document.documentElement.clientHeight) * 0.15;//Get distance of top
                $("#TrailerWindow").css({left: _left, top: _top});
            }

            $("button.close").click(function () {
                $('video').trigger('pause');
                $("#TrailerWindow").hide();//hide
                $(".Layer").hide();//hide
            });
        </script>
    </div>







    {% if form_flag != -1 %}
        <div class="comment-block">
                    <div id="form-comment" class="form-group">
                        <textarea class="form-control" id="review-textarea" rows="2" placeholder="Reviews   {{object.title}}..."></textarea>
                        <div class="media-feed-control clearfix">
                            <button onclick="review()" type="button" class="btn btn-secondary btn-sm comment-reply float-right waves-effect waves-light">Post</button>
                        </div>
                    </div>
        </div>

    {% endif %}

    <script>
    function review(){
        var content = $('#review-textarea').val();
        var movieid = '{{object.movieid}}';
        var username = '{{ user.username }}';
            console.log(content);

            if (content == '') {
                Swal.fire('Comments cannot be empty');
                return
            }
            $.ajax({
                type: "POST",
                // bo sung dau gach cheo moi duoc
                url: "{% url 'review-movie' %}",
                data: {content: content, type : 'review', movieid: movieid, 'username':username},
                processData: "application/json",
                dataType: "json",

            }).done(function (data) {
                console.log(data);
                location.reload();

            });

        }

    </script>

    <ul class="list-unstyled mt-5">
        <li class="media">
            <div id="comment-body" class="media-body">
                <div class="media-body-reply-block">
                    <li id="list-comment"  class="list-unstyled">
                        {% for review in reviews %}
                            <li id="li-comment" class="media mt-4">
                                <div class="profile-picture bg-gradient bg-primary mb-4">
                                    <img src="{{ review.user.profile.profile_picture.url}}" width="44" height="44">
                                </div>
                                <div class="media-body">
                                    <div class="media-title mt-0 mb-1">
                                        <a href="{{ review.user.profile.get_absolute_url }}">{{ review.user.username }}</a> <small> {{ review.date_posted }}</small>
                                    </div>
                                    <b> {{ review.review }} </b>

                                        <div class="media-feed-control">
                                            <a href="" id="likeButton">
                                                <input type="hidden" name="likePostID" value="{{ post.id }}">
                                                <i class="batch-icon batch-icon-heart-full" ></i> Like <span id="count-likes{{ post.id }}"> ({{review.total_likes}}) </span>
                                            </a>

                                            <a href="#">
                                                <i class="batch-icon batch-icon-speech-bubble-left-tip"></i> Comment <span id="count-comments{{ post.id }}"> ({{review.total_reply}}) </span>
                                            </a>

                                            <a href="" id="reportButton">
                                                <input type="hidden" name="reportPostID" value="{{ post.id }}">
                                            </a>
                                    </div>
                                </div>
                                <li class="comment-reply" id="comment-reply">
                                    {% for reply  in review.get_all_reply %}
                                        <div class="media-title mt-0 mb-1" name="replyContent">
                                            <a href="{{ reply.user.profile.get_absolute_url }}">{{ reply.user.username }}</a> <small> {{ reply.date_posted }}</small>
                                        </div>
                                         {{ reply.content }}
                                    {% endfor %}
                                    <hr>

                                    <li class="comment-reply-block mt-4">
                                        <div class="form-group clearfix">
                                            <input type="hidden" class="postID" name="reviewID" value="{{ review.id }}">
                                            <textarea name="content" class="form-control comment-reply-textarea" rows="2" placeholder="Reply review here..."></textarea>
                                            <button type="button" class="replyButton">Reply</button>
                                        </div>
                                    </li>
                                </li>
                            </ul>

                                    <script>

                                    $(document).on('click', '.replyButton', function (event) {
                                        event.preventDefault();
                                        var $form = $(this).parent();
                                        var $content = $form.find("textarea[name='content']");
                                        var content = $content.val();
                                        var review_id = $form.find("input[name='reviewID']").val();
                                        var username = '{{ user.username }}';

                                        console.log(content);
                                        console.log(review_id);

                                        $.ajax({
                                            type: "POST",
                                            // bo sung dau gach cheo moi duoc
                                            url: "{% url 'reply-review' %}",
                                            data: {content: content, type : 'reply', review_id: review_id, 'username':username},
                                            processData: "application/json",
                                            dataType: "json",

                                        }).done(function (data) {
                                            console.log(data);
                                            $content.val('');
                                            $content.attr("placeholder", "Reply review here ...");
                                            {#$replyContent = $form.parent().find("div[name='replyContent']");#}
                                            $form.parent().parent().find("div[name='replyContent']").prepend( '<div class="media-title mt-0 mb-1">' +
                                            '<a href="' + data.send_user_url + ' ">' + data.username  + '</a>' +  '<small>'  +  data.date_posted + '</small>' +
                                            '</div>' + data.content + '<br>');

                                        });



                                    });
                                    </script>

                                </li>

                            </li>
                            <hr>
                        {% endfor %}

                    </li>
                </div>
            </div>
        </li>
    </ul>



{% endblock %}
