{% extends "base.html" %}
{% block mainbody %}
{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/comunity.css' %}"/>

<div class="container bootstrap snippets bootdeys">
    <div class="col-md-7 col-md-offset-2">
        {% comment %} <div class="panel">
            <div class="panel-body">
        		<textarea class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
        		<div class="mar-top clearfix">
        			<button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
        		</div>
        	</div>
        </div> {% endcomment %}
        <div class="panel panel-body">
    		<!-- Timeline -->
    		<!--===================================================-->
    		<div class="timeline">
    
    			<!-- Timeline header -->
    			<div class="timeline-header">
    				<div class="timeline-header-title bg-success">Now</div>
    			</div>
                {% for activity in activitys %}

                    {% if activity.type == 1 %}
                    <div class="timeline-entry">
                        <div class="timeline-stat">
                            <div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i>
                            </div>
                            <div class="timeline-time">{{activity.get_date}}</div>
                        </div>
                        <div class="timeline-label">
                            <img class="img-xs img-circle" src="{{activity.user.profile.profile_picture.url}}" alt="Profile picture">
                            <a href="" class="btn-link text-semibold">{{activity.user.username}}</a> followed {{activity.follow.user2.username}}.
                        </div>
    			    </div>
                    {% endif %}

                     {% if activity.type == 2 %}
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon"><img src="{{activity.user.profile.profile_picture.url}}" alt="Profile picture">
                                </div>
                                <div class="timeline-time">{{activity.get_date}}</div>
                            </div>
                            <div class="timeline-label">
                                <p class="mar-no pad-btm"><a href="{{activity.user.profile.get_absolute_url}}" class="btn-link text-semibold">{{activity.user.username}}</a> posted on <a href="#">{{activity.post.to_user.username}}</a>
                                </p>
                                <blockquote class="bq-sm bq-open">{{activity.post.content}}</blockquote>
                            </div>
    			        </div>
                    {% endif %}

                     {% if activity.type == 3 %}
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon"><img src="{{activity.user.profile.profile_picture.url}}" alt="Profile picture">
                                </div>
                                <div class="timeline-time">{{activity.get_date}}</div>
                            </div>
                            <div class="timeline-label">
                                <p class="mar-no pad-btm"><a href="{{activity.user.profile.get_absolute_url}}" class="btn-link text-semibold">{{activity.user.username}}</a> reviewed on  <a href="/movie/movie_detail/{{activity.review.movie.movieid }}">{{activity.review.movie.title}}</a>
                                </p>
                                <blockquote class="bq-sm bq-open">{{activity.review.review}}</blockquote>
                            </div>
    			        </div>
                    {% endif %}

                {% endfor %}
    			
    
    			<!-- Timeline header -->
    			<div class="timeline-header">
    				<div class="timeline-header-title bg-dark">Yesterday</div>
    			</div>
    
    		</div>
    		<!--===================================================-->
    		<!-- End Timeline -->
    	</div>
    </div>
</div>

{% endblock %}