{% extends "base.html" %}

{% block mainbody %}
    <div id="container">
        <h2>{{ number }} movie(s) in your Expect List:</h2>

        {% for item in items %}
            <h2><a href="/movie/movie_detail/{{ item.movieid }}" target="_self">{{ item.title }}</a></h2>

            <form role="form" action="/movie/expect/{{ item.movieid }}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>

            <img border="0" src="{{ item.poster }}" alt="Cannot load photo, sorry!" width="200" height="320">
            <hr>
        {% endfor %}
    </div>


{% endblock %}