{% extends 'base.html' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 

{% block mainbody %}

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <div class="form-gap"></div>
 <style>
 .helptext{
   display : none;
 }
 label[for="id_new_password1"]{
   display : none;
 }
  label[for="id_new_password2"] {
   display : none;
 }
input#id_new_password1{
   width :60%;
 }
 input#id_new_password2{
   margin-top : 20px;
   width :60%;
 }
 .errorlist{
   color : red;
 }
 ul {
    list-style-type: none;
    align-text : left;
}


 </style>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4" style="width : 720px; margin-left : 200px; margin-top:100px">
              <div class="panel panel-default">
                <div class="panel-body">
                  {% if validlink %}

                    <div class="text-center">
                      <h3><i class="fa fa-lock fa-4x"></i></h3>
                      <h2 class="text-center">Set a new password!</h2>
                      <p>You can reset your password here.</p>
                      <div class="panel-body">
        
                        <form method="POST">
                          {% csrf_token %}
                            {{ form }}
                            <br>
                            <br>
                          <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Change Password" type="submit">
                          </div>
                          
                        </form>
        
                      </div>
                    </div>
                  {% else %}
                    <div class="text-center">
                      <h3><i class="fa fa-lock fa-4x"></i></h3>
                      <h2 class="text-center">The password reset link was invalid</h2>
                      <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                      
                    </div>

                  {% endif %}

                </div>
              </div>
        </div>
    </div>
  </div>

  <script>
    $('#id_new_password1').attr("placeholder", "Enter new password...");
    $('#id_new_password2').attr("placeholder", "Enter new password confirm ...");

  </script>

{% endblock %}
