{% extends "base.html" %}

{% block mainbody %}
        <div style=" margin-left: 1%;">
            <h4 class="title_text"><a href="#">My Seen list </a></h4>
            {% for movie in items %}
                <a href="/movie/movie_detail/{{ movie.movieid }}">
                    <img id="poster" class="img-rounded" src="{{ movie.poster }}" width="125" height="180">
                </a>
            {% endfor %}

        </div>

            <div style=" margin-left: 1%;">
                <h4 class="title_text"><a href="#">You Might Also Like </a></h4>
                {% for movie in top_movie %}
                    <a href="/movie/movie_detail/{{ movie.movieid }}">
                        <img id="poster" class="img-rounded" src="{{ movie.poster }}" width="125" height="180">
                    </a>
                {% endfor %}
            </div>
            <div style=" margin-left: 1%;">
                <h4 class="title_text"><a href="#">Top Action Movie </a></h4>
                {% comment %} <h3 class="title_text" style="color: #f5c518"><b>Top Action Movie </b></h3> {% endcomment %}
                {% for movie in action_movie %}
                    <a href="/movie/movie_detail/{{ movie.movieid }}">
                        <img id="poster" class="img-rounded" src="{{ movie.poster }}" width="125" height="180">
                    </a>
                {% endfor %}
            </div>
            <div style=" margin-left: 1%;">
                <h4 class="title_text"><a href="#">Top Comedy Movie </a></h4>
                {% comment %} <h3 class="title_text" style="color: #f5c518"><b>Top Comedy Movie </b></h3> {% endcomment %}
                {% for movie in comedy_movie %}
                    <a href="/movie/movie_detail/{{ movie.movieid }}">
                        <img id="poster" class="img-rounded" src="{{ movie.poster }}" width="125" height="180">
                    </a>
                {% endfor %}
            </div>

{% endblock %}