{% comment %} {% extends "base.html" %}
{% block mainbody %}
    <main class="container bootdey">
        <main class="main-content p-5" role="main">
            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-user-profile">
                            <div class="profile-page-left">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <div class="profile-picture profile-picture-lg bg-gradient bg-primary mb-4">
                                            {% if profile.profile_picture %}
                                                <img src="{{ profile.profile_picture.url }}" width="44" height="44">
                                            {% else %}
                                                <img src="/media/image/avatar.png" width="44" height="44">
                                            {% endif %}
                                        </div>
                                        <a class="btn btn-primary btn-block btn-gradient waves-effect waves-light" href="{% url 'detail-edit-profile' %}"> Edit Profile </a>
                                </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 class="my-0">Followers</h5>
                                        <div class="h3 my-0">
                                            <a href="#">682</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 class="my-0">Following</h5>
                                        <div class="h3 my-0">
                                            <a href="#">341</a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h5>
                              <i class="batch-icon batch-icon-users"></i>
                              Friends
                            </h5>
                                <div class="profile-page-block-outer clearfix">
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar1.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar2.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar3.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar4.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-secondary">
                                            <img src="/media/image/avatar5.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar6.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar7.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-secondary">
                                            <img src="/media/image/avatar8.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar11.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-secondary">
                                            <img src="/media/image/avatar12.jpeg" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-secondary">
                                            <img src="/media/image/avatar14.jpeg" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar18.jpeg" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar11.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar20.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar19.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar24.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <div class="profile-page-block">
                                        <div class="profile-picture bg-gradient bg-primary">
                                            <img src="/media/image/avatar22.png" width="44" height="44">
                                        </div>
                                    </div>
                                    <a class="float-right mt-2" href="#">More</a>
                                </div>
                                <hr>
                                    <h5>
                                        <i class="batch-icon batch-icon-users"></i>
                                        Information
                                    </h5>
                                <p class="float-right mt-2"> Birthday : {{birthday}}</p>
                                {% if gender == 'M' %}
                                    <p class="float-right mt-2"> Gender : Male</p>
                                {% else %}
                                    <p class="float-right mt-2"> Gender : Female</p>
                                {% endif %}
                                </div>
                            <div class="profile-page-center">
                                <h1 class="card-user-profile-name"> News Feeds : {{username}}</h1>


                                <div class="comment-block">
                                    <div class="form-group">
                                        <form method="POST" class="form-post" enctype="multipart/form-data">
                                            <textarea class="form-control" name="content" rows="2" placeholder="How about you today ..."></textarea>
                                            <div class="media-feed-control clearfix">
                                                <button  type="submit" class="btn btn-secondary btn-sm comment-reply float-right waves-effect waves-light">Post</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <ul class="list-unstyled mt-5">
                                    <li class="media">
                                        <div id="comment-body" class="media-body">
                                            <div class="media-body-reply-block">
                                                <ul id="list-comment"  class="list-unstyled">
                                                    {% for post in posts %}
                                                        <li id="li-comment" class="media mt-4">
                                                            <div class="profile-picture bg-gradient bg-primary mb-4">
                                                                <img src="{{ post.author.profile.profile_picture.url}}" width="44" height="44">
                                                            </div>
                                                            <div class="media-body">
                                                                <div class="media-title mt-0 mb-1">
                                                                    <a href="{{ post.author.profile.get_absolute_url }}">{{ post.author.username }}</a> <small> {{ post.date_posted }}</small>
                                                                </div>
                                                                <b> {{ post.content }} </b>
                                                                <div class="media-feed-control">
                                                                    <a href="#">
                                                                        <i class="batch-icon batch-icon-heart-full"></i> Like ({{post.total_likes}})
                                                                    </a>
                                                                    <a href="#">
                                                                        <i class="batch-icon batch-icon-speech-bubble-left-tip"></i> Comment ({{post.total_comments}})
                                                                    </a>
                                                                    <a href="#">
                                                                        <i class="batch-icon batch-icon-flag"></i> Report
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <li class="comment-reply">
                                                                {% for reply  in post.get_all_reply %}
                                                                    <div class="media-title mt-0 mb-1">
                                                                        <a href="{{ reply.author.profile.get_absolute_url }}">{{ reply.author.username }}</a> <small> {{ reply.date_posted }}</small>
                                                                    </div>
                                                                    <b> {{ reply.content }} </b>
                                                                {% endfor %}
                                                            </li>
        {#                                                    <li class="comment-reply-block mt-4">#}
                                                            <li>
                                                                <form method="POST" class="form-reply" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" class="postID" name="postID" value="{{ post.id }}">
                                                                    <textarea class="form-control comment-reply-textarea" name="content" rows="2" placeholder="Reply post here ....."></textarea>
                                                                    <button type="submit" id="button{{post.id}}" class="btn btn-secondary btn-sm comment-reply float-right waves-effect waves-light">Reply </button>
                                                                </form>
                                                            </li>
                                                        </li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>






                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </main>

    <script>
    $(document).ready(function () {
            $('.form-post').on('submit', function (event) {
                event.preventDefault();
                //remember the form element
                var $form = $(this);

                //post need this content

                var content =  $form.find("textarea[name='content']").val();
                console.log(content);

                // now do ajax
                $.ajax({
                url: "",
                type: 'POST',
                datatype: 'json',
                processData: "application/json",
                data: {
                    content: content, //comment = post .. parent of reply
                    type: 'comment',
                },
                beforeSend:function (xhr,settings) {
                    xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
                },
                }).done(function (data){
                    $form.find("textarea[name='content']").val('');
                    console.log(data);

                $("#list-post").prepend(
                     '<li class="media mt-4">' +
                        '<div class="profile-picture bg-gradient bg-primary mb-4">' +
                            '<img src="' + data.send_user_avatar +'"'  + 'width="44" height="44">' +
                        '</div>' +
                        '<div class="media-body">' +
                            '<div class="media-title mt-0 mb-1">' +
                                '<a href=' +'"'+ data.send_user_url + '"' +'>'  + data.send_user + '</a>' +  '<small>' + '   ' +    data.date_posted + '</small>'+
                            '</div>' +
                            data.content +
                            '<div class="media-feed-control">' +
                                '<a href="#">'+
                                    '<i class="batch-icon batch-icon-heart-full"></i>' +'Like' +
                                '</a>'+
                                '<a href="#">'+
                                    '<i class="batch-icon batch-icon-speech-bubble-left-tip"></i>' + 'Comment' +
                                '</a>' +
                                '<a href="#">' +
                                    '<i class="batch-icon batch-icon-flag"></i>' + 'Report' +
                                '</a>'+
                            '</div>'+
                        '</div>'+
                    '</li>' +
                    '<li class="comment-reply-block mt-4">' +
                        '<div class="form-group clearfix">'+
                            '<textarea class="form-control comment-reply-textarea" rows="2" placeholder="Reply here ..."></textarea>' +
                            '<button type="button" class="btn btn-secondary btn-sm comment-reply float-right waves-effect waves-light">' + 'Reply' + '</button>' +
                        '</div>'+
                    '</li>'
                );
                Swal.fire(
                    'Succsess !',
                    'You just reply !',
                    'success'
                );
            });
            });

            $('.form-reply').on('submit', function (event) {
                event.preventDefault();
                //remember the form element
                var $form = $(this);

                //disable the submit button and remember it for later
                var $button = $form.find("button[type='submit']").attr('disabled', true);
                // get dom by name
                var $content = $form.find("textarea[name='content']");
                // get dome by id
                {#var $postID = $form.find(".postID");#}

                var content =  $form.find("textarea[name='content']").val();
                var postID =   $form.find("input[name='postID']").val();



                console.log(content);
                console.log(postID);

                // now do ajax
                $.ajax({
                url: "",
                type: 'POST',
                datatype: 'json',
                processData: "application/json",
                data: {
                    content: content,
                    postID: postID,
                    type: 'reply', // type is reply
                },
                beforeSend:function (xhr,settings) {
                    xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
                },
            }).done(function (data){

                $content.val('');
                console.log(data);
                $("#post-reply").prepend( '<div class="profile-picture bg-gradient bg-primary mb-4">' +
                                            '<img src="'+ data.send_user_avatar +  ' " width="44" height="44">'
                                            +'</div>'
                                            + '<div class="media-body">'+
                                                    '<div class="media-title mt-0 mb-1">' +
                                                    '<a href="' + data.send_user_url + '">' + data.send_user  + '</a>'
                                                    +  '<small>'  + data.date_posted + '</small>' +
                                                    '</div>' + '<b>'+ data.content +  '</b>' + '</div>');

                Swal.fire(
                    'Succsess !',
                    'You just reply !',
                    'success'
                );
            });
            });
        });

    </script>
{% endblock mainbody %} {% endcomment %}
